@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
  --background: #ffffff;
  --foreground: hsl(222.2 84% 4.9%);
  --muted: hsl(220 9% 46%);
  --card: hsl(302 0% 93%);
  --card-foreground: hsl(227 80% 57%);
  --primary: hsl(223 79% 57%);
  --border: hsl(220 13% 85%);
  --green: #22c55e;
  --purple: #8b5cf6;
  --gray: #9ca3af;
  --accent: var(--gray);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-green: var(--green);
  --color-purple: var(--purple);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(13 27% 34%);
    --foreground: hsl(210 40% 98%);
    --muted: hsl(210 20% 70%);
    --card: hsl(0 0% 20%);
    --card-foreground: hsl(180 60% 60%);
    --primary: hsl(30 39% 91%);
    --border: hsl(0 0% 30%);
  }
}

* {
  border-color: var(--primary);
  border-style: dashed;
  border-image: repeating-linear-gradient(
      90deg,
      #000 0,
      #000 12px,
      transparent 12px,
      transparent 20px
    )
    1;
}

body {
  background: var(--background);
  color: var(--foreground);
  word-break: keep-all;
}

a {
  text-decoration: none;
}

a:not([class*='text-']) {
  color: inherit;
}
